body {
  font-family: Arial;
  background: #e4e4e4;
  padding: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}



#login {
  text-align: center;
  width: 300px;
  background: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid;
  border-color: #d1d1d1;
  box-shadow: 0px 5px 10px 1px #a8a8a8;
}
#email, #senha{
  border-radius: 10px;
  border: none;
  background-color: #d1d1d1;
  width: 280px;
}


.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.postos label {
  display: block;
  font-weight: normal;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  
  background: #0a5eac;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background: #007bff;
  color: #fff;
}